--upgrade pip
pytest-shutil
nuitka
pyinstaller
requests
pywin32
opencv-python
Pillow
pyzipper
anonfile
subprocess.run
uuid
typing
psutil
xmpppy
GPUtil
tabulate
pycryptodome
configparser
ffpass
discord-webhook
